/* COMMON */
body {
  height: 6000px;
  font-family: 'Nanum Gothic', sans-serif;
}
.inner{
  width: 1100px;
  margin:0 auto;
  position: relative;
}
img{
  display: block;
}


.btn{
  width: 130px;
  padding:10px;
  border: 2px solid #333;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  color:#333;
  display:block;
  box-sizing: border-box;
  transition: .4s;
  text-decoration: none;
}
.btn:hover{
  color:#fff;
  background-color: #333;
}
.btn.btn--reverse{
  background-color: #333;
  color:#fff;
}
.btn.btn--reverse:hover{
  background-color: transparent;
  color:#333;
}

.btn.btn--brown{
  color:#592b18;
  border-color: #592b18;
}
.btn.btn--brown:hover{
  color:#fff;
  background-color: #592b18;
}

.btn.btn--gold{
  color:#d9aa8a;
  border-color: #d9aa8a;
}
.btn.btn--gold:hover{
  color:#fff;
  background-color: #d9aa8a;
}

.btn.btn--white{
  color:#fff;
  border-color: #fff;
}
.btn.btn--white:hover{
  color:#333;
  background-color: #fff;
}