.visual {
  margin-top: 120px;
  background-image: url("../images/visual_bg.jpg");
  background-position: center;
}
.visual .inner{
  height: 646px;
}
.visual .title{
  position: absolute;
  top:88px;
  left: -10px;
}
.visual .title a{
  position: absolute;
  top: 259px;
  left: 173px;
}
.visual .cup1.image{
  position: absolute;
  bottom: 0;
  right: -47px;
}
.visual .cup1.text{
  position: absolute;
  top: 38px;
  right: 171px;
}
.visual .cup2.image{
  position: absolute;
  bottom: 0;
  right: 162px;
}
.visual .cup2.text{
  position: absolute;
  top: 321px;
  right: 416px;
}
.visual .spoon.image{
  position: absolute;
  bottom: 0;
  left: 275px;
}
.visual .fade-in{
  opacity: 0;
}
